version: '3.8'

services:
  dialog-manager:
    build:
      context: .
    container_name: t2s2t
    # Port 1883 is now exposed by this container
    ports:
      - "1883:1883"
    environment:
      - MQTT_BROKER=localhost 
      - MQTT_PORT=1883
      - USERNAME=inesc
      - PASSWORD=inesc
      - PULSE_SERVER=unix:/run/user/1000/pulse/native
      - XDG_CACHE_HOME=/home/user/.cache
      - DIALOG_PARAMS=-rn ANIMAL
      - TTS_PARAMS=-rn ANIMAL
    volumes:
      # Audio/Pulse Volumes
      - /run/user/1000/pulse/native:/run/user/1000/pulse/native
      - ${HOME}/.config/pulse/cookie:/tmp/pulse-cookie
      # Mosquitto Persistence (Moved from the old service)
      - mosquitto-data:/mosquitto/data
      - mosquitto-log:/mosquitto/log
      - ./config/mosquitto.conf:/mosquitto/config/mosquitto.conf
    user: "1000"
    extra_hosts:
      - "media01.carma:172.31.16.10"
    #network_mode: "host"  
    dns:
      - 8.8.8.8
      - 8.8.4.4
    networks:
      - app-network
volumes:
  mosquitto-data:
  mosquitto-log:

networks:
  app-network:
    external: true